.twitter {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
  border-radius: 0.25rem;
  padding: 0.75rem 1.25rem;
  margin-bottom: 10px;

  img {
    width: 14px;
    margin-right: 1px;
    vertical-align: middle;
  }
}

.number {
  font-weight: 600;
}

table {
  border: none;
}
